<div class="age-blocked"></div>
<div class="age-confirmation">
	<div class="age-confirmation__wrapper">
		<div class="age-confirmation__image">
			<img src="{{ '18.svg' | asset_url }}" width="50px" height="50px">
		</div>
		<div class="age-confirmation__text">
			Подтвердите, пожалуйста, свой возраст. Материалы сайта предназначены для лиц старше 18 лет.
		</div>
		<div class="age-confirmation__buttons">
			<div class="cell-6-md cell-12-xs">
				<button id="age_confirmed">Мне больше 18 лет</button>
			</div>
			<div class="cell-6-md cell-12-xs">
				<button id="age_not_confirmed">Мне нет 18 лет</button>
			</div>
		</div>
	</div>
</div>